@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  display: flex;
  justify-content: flex-end;
  background-color: #f6f6f7;
  font-size:0.75rem;
  margin-top: 1rem;
  padding:0.5rem 0;
  color:#888888
}

.cart{
   margin-right: 11rem;
}
