@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------root variables--------------- */
:root {
  --color-header-background: #f6f6f7;
  --color-background-white: #ffffff;
  --color-font-primary: #222222;
  --color-font-grey: #888888;
  --color-border-light-grey: #cccccc;
  --color-border-dark-grey: #222222;
  --color-required: #c90000;
}

/*--------------root font size of the browser -------------*/
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* ------------HEADER SECTION------------- */
.header {
  display: flex;
  height: 2rem;
  position: relative;
  justify-content: flex-end;
  background-color: var(--color-header-background);
  font-size: 0.75rem;
  margin-top: 1rem;
  color: var(--color-font-grey);
}

/* ------------MAIN SECTION------------- */
.container {
  display: flex;
  width: 80%;
  margin: 2.5rem auto;
}

.product-image {
  margin: 0 8rem;
}

.product-detail {
  max-width: 40%;
}

.product-detail h1 {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border-light-grey);
  font-size: 1.5rem;
  font-weight: 300;
}

.product-detail .price {
  padding: 8px 0;
  border-bottom: 1px solid var(--color-border-light-grey);
  font-weight: 600;
}

.product-detail p {
  padding: 1.2rem 0;
  color: var(--color-font-grey);
  font-size: 0.9rem;
}

.product-detail .size {
  padding: 1rem 0;
  color: var(--color-font-grey);
}

.product-detail .star {
  color: var(--color-required);
}

.product-detail .size-buttons {
  display: flex;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.product-detail .size-button {
  padding: 9px 14px;
  margin-right: 8px;
  border: 1px solid var(--color-border-light-grey);
  font-size: 0.75rem;
  color: var(--color-font-grey);
}

.product-detail .selected-size-button {
  padding: 9px 14px;
  margin-right: 8px;
  border: 2px solid var(--color-border-dark-grey);
  font-size: 0.75rem;
  color: var(--color-font-primary);
}

.product-detail .add-to-cart-btn {
  padding: 6px 30px;
  border: 2px solid var(--color-border-dark-grey);
  font-weight: 500;
  transition: 0.2s;
}

.product-detail .add-to-cart-btn:hover {
  background-color: var(--color-font-primary);
  color: var(--color-header-background);
}

/* ------------CART SECTION------------- */
.cart {
  margin-right: 11rem;
  height: 100%;
  padding: 8px;
  cursor: pointer;
}

.cart-icon {
  display: none;
}

.cart-on-click {
  position: absolute;
  right: 11rem;
  background-color: var(--color-background-white);
  border: 1.5px solid var(--color-border-light-grey);
  border-bottom: 0;
  padding: 7px;
  z-index: 999;
}

.mini-cart {
  position: absolute;
  padding: 1.5rem;
  border: 1.5px solid var(--color-border-light-grey);
  background-color: var(--color-background-white);
  top: 2rem;
  right: 11rem;
  color:var(--color-font-primary);
  font-size: 0.9rem;
  
}

.empty-cart {
  position: absolute;
  padding: 1.5rem;
  border: 1.5px solid var(--color-border-light-grey);
  background-color: var(--color-background-white);
  top: 2rem;
  right: 11rem;
}

.mini-cart .cart-item {
  display: flex;
  margin-bottom: 2.5rem;
  font-size: 0.9rem;
  color: var(--color-font-primary);
}

.mini-cart .cart-item .cart-item-detail {
  padding-left: 2rem;
  padding-right: 6rem;
}

.mini-cart .cart-item .cart-item-detail div:nth-child(n) {
  margin-bottom: 8px;
}

/* ---------[ON MOBILE DEVICES]--------- */
@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    width: 90%;
    margin: 2.5rem auto;
  }

  .cart {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  .cart-on-click {
    display: flex;
    right: 2rem;
  }

  .mini-cart {
    width: 86%;
    right: 2rem;
  }

  .empty-cart {
    right: 2rem;
  }

  .cart-text {
    display: none;
  }

  .cart-icon {
    display: block;
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  .mini-cart .cart-item .cart-item-detail {
    padding-left: 2rem;
    padding-right: 5.8rem;
  }

  .product-image {
    margin: 0;
  }

  .product-detail {
    max-width: 100%;
  }

  .product-detail h1 {
    border-bottom: 0px;
    margin-top: 1.5rem;
  }

  .product-detail .price {
    border-bottom: 0px;
  }
}

/* ------[ON TABLET and SMALL SIZE LAPTOP]----- */
@media screen and (min-width: 650px) and (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 2.5rem auto;
  }

  .product-image {
    margin: 1rem;
  }

  .cart {
    margin-right: 4rem;
  }

  .cart-on-click {
    right: 4rem;
  }

  .mini-cart {
    right: 4rem;
  }

  .empty-cart {
    right: 4rem;
  }
}
